*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 230, 230);
}
#container{
  box-shadow: 2px 2px 5px black;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: white;
}
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar h1{
  font-size: 2.5rem;
}
#navbar img{
  width: 5rem;
  height: 5rem;
}
#left{
  margin: 1rem 0rem;
}

textarea{
  font-size: 1.5rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
}
#right{
  margin: 1rem 0rem;
}

#right p{
  border: 1px solid black;
  width: 100%;
  height: 10rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.select{
  text-align: center;
  margin: 1rem 0rem;
}
.select select{
  font-size: 1.4rem;
}
#button{
  text-align: center; 
}
button{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: rgb(69, 69, 248);
  color: white;
  border: none;
}
